requests
alembic
psycopg2
tensorflow
sqlalchemy_utils
sqlalchemy >= 1.0.0
datetime
celery
lxml
numpy
readability-lxml
gspread
oauth2client
beautifulsoup4
python-levenshtein

user_agent
docopt>=0.6.1,<0.7
chardet

pymorphy2

scipy
gensim

psutil

flask
flask_cors
gunicorn

